body {
    text-align: center;
    font-family: Arial;
}

input {
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

li {
    margin: 10px;
    list-style: none;
    background: lightgray;
    padding: 5px;
}