body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#box {
    width: 200px;
    height: 100px;
    background: lightblue;
    margin: 20px auto;
    line-height: 100px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}