body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#title {
    color: black;
}

.text {
    font-size: 18px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}